<h1>THE IRONLIBRARY</h1>
<div class="wrapper">
  <div class="datewrapper">
    <p>17MAR2016</p>
  </div>
</div>
<div class="listbooks">
  <%= link_to "List Books", books_path, class: "btn btn-success btn-lg btn-block" %>
</div>
