// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// books controller.

// formats table header for Book Title Author
th {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

td {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: black;
}
a {
  text-decoration: none;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(239,86,39);
}

.form-group {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

.lonecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.loneimage img{
  width: auto;
  height: auto;
  border: 1px;
  border-color: gray;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 2px 2px 2px;
}
